/* Add this at the top of your CSS file or in a global stylesheet */
@font-face {
  font-family: 'FS Kim';
  src: url('./fonts/FS_Kim/Medium/fs_kim_medium.woff2') format('woff2'),
    url('./fonts/FS_Kim/Medium/fs_kim_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('images/hero-image.webp') center center/cover no-repeat;
  display: flex;
  align-items: stretch;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  /* dark overlay for text readability */
  display: flex;
}

.hero-text {
  color: #fff;
  max-width: 40vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

@media (min-width: 768px) {
  .hero-text {
    margin-top: 5%;
  }
}

.hero-text h1 {
  font-size: 60px;
  margin-bottom: 1rem;
  font-family: 'FS Kim', sans-serif;
}

h2, h1 {
  font-family: 'FS Kim', sans-serif;
}

.hero-text .hero-subheading {
  font-size: 30px;
}

@media (max-width: 768px) {
  .hero-text {
    max-width: 90vw;
    margin-left: 5vw;
  }
}

.about-section {
  padding: 3rem 2rem;
  background: #fff;
  color: #222;
}

hr {
  border-top: "2px solid #fff";
  width: 100%;
}

.become-sponsor-button,
.contact-us-button {
    padding: 0.75rem 2rem;
    background: "#fff";
    color: #000000ff;
    border: 2px solid #000000ff;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    max-width: 220px;
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
  .become-sponsor-button {
    margin-left: 15rem;
  }
  .contact-us-button {
    margin-right: 15rem;
  }
}
